[user]
	name = Trevor D. Miller
	email = trevordmiller@icloud.com
	useconfigonly = true
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/trevormiller/.gitignore
[help]
	autocorrect = 1
