[user]
	name = Trevor D. Miller
	email = trevordmiller@icloud.com
	useconfigonly = true
[github]
  user = trevordmiller
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/trevormiller/.gitignore
[log]
  date = relative
[help]
	autocorrect = 1
[color]
  ui = true
  pager = true
  status = auto
  diff = auto
  branch = auto
  showbranch = auto
  interactive = auto
[color "status"]
  header = white
  branch = cyan
  untracked = cyan
  added = cyan
  changed = red
[color "diff"]
  plain = normal
	meta = blue
  func = blue
	frag = blue
	old = red
	new = cyan
  commit = cyan
[color "branch"]
  remote = magenta
	local = blue
  current = cyan
