init.author.name=Trevor D. Miller
init.author.email=trevordmiller@icloud.com
init.author.url=http://www.trevordmiller.com
init.license=MIT
//registry.npmjs.org/:_authToken=a6375b5f-a995-4236-b6d1-f4662c295939
