snippet r "Reset"
html {
  font-family: Verdana, Geneva, sans-serif;
  color: #333;
  font-size: 62.5%;
  font-size: 1.1rem;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@media(min-width: 600px) {
  font-size: 1.3rem;
}
endsnippet
